---
import { type CollectionEntry } from 'astro:content'
interface Props {
  slug: string
  post: CollectionEntry<'blog'>['data']
}

const {
  post: { title, pubDate, updatedDate }
} = Astro.props;
---

<h2>{title}</h2>
<p>
    <time datetime={pubDate.toISOString()}>
        Published: {pubDate.toLocaleDateString()}
    </time>
</p>
{
    updatedDate !== undefined && (
        <p>
            <time datetime={updatedDate.toISOString()}>
                Updated: {updatedDate.toLocaleDateString()}
            </time>
        </p>
    )
}

<style>
    h2, p {
        margin: 0.5rem;
    }

    p {
        color: #666;
    }
</style>
